<h1>Welcome!</h1>
<p>
<ul>
<% @images.each do |image| %>
  <li>
      <%= link_to image_tag("/uploads/#{image.name}", alt: image.name, class: 'image'), "/uploads/#{image.name}"
      %>
  </li>
<% end %>
</ul>
</p>